<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>
                <mat-icon>mood</mat-icon>
            </span>
            <span>Yay, Material in Angular 2!</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
            <mat-icon class="example-icon">delete</mat-icon>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-menu yPosition="above" xPosition="before" #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
    </mat-menu>

    <mat-card>
        <mat-menu #rootMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="subMenu">Power</button>
            <button mat-menu-item>System settings</button>
        </mat-menu>

        <mat-menu #subMenu="matMenu">
            <button mat-menu-item>Shut down</button>
            <button mat-menu-item>Restart</button>
            <button mat-menu-item>Hibernate</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="rootMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-card>
    <mat-card>
        <mat-menu #appMenu="matMenu">
            <ng-template matMenuContent let-name="name">
                <button mat-menu-item>Settings</button>
                <button mat-menu-item>Log off {{name}}</button>
            </ng-template>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Sally'}">
            <mat-icon>more_vert</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Bob'}">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-card>
</div>

<router-outlet></router-outlet>